nav {
    background-color: rgb(153, 237, 101);
    color: rgb(255, 255, 255);
    font-weight: bold;
    font-family: 'Open Sans', sans-serif;
    
    text-align: center;
  }

  li.nav-item {
    margin-left: 20px;
    margin-right: 20px;
    text-align: center;
    margin: 10px;
  }