html {
  position: absolute;
  min-width: 100%;
}

body {
  margin-bottom: 60px;
  background-color: whitesmoke;
  height: 100%;
  padding-top: 78px;
}

.wrap {
  padding-bottom: 60px;
}

html,
body {
  height: 100%;
}

.card {
  border: none;
  border-radius: 0;
  box-shadow: none;
}

.button-reserv {
  border-radius: 50px;
}

.button-prices {
  background-color: rgb(153, 237, 101); /* Color verde */
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 0;
  border: none;
  color: rgb(89, 88, 88);
  font-weight: bold;
  text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.07);
  padding: 5px 10px;
}

.title {
  font-weight: bold;
}

nav {
  background-color: rgb(153, 237, 101);
  color: rgb(255, 255, 255);
  font-weight: bold;
  text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.07);
  text-align: center;
}

.footer {
  position: absolute;
  bottom: 0px;
  height: 60px;
  width: 100%;
}
