html {
  position: absolute;
  min-width: 100%;
}

body {
  margin-bottom: 60px;
  background-color: whitesmoke;
  height: 100%;
  padding-top: 90px;
}

.wraper {
  padding-bottom: 60px;
  width: 90%;
}

html,
body {
  height: 100%;
}

.title {
  font-weight: bold;
  margin-top: 5px;
  margin-bottom: 5px;
  font-family: 'Open Sans', sans-serif;
}

a.active {
    text-decoration: underline;
    text-decoration-thickness: 0.1em;
    text-underline-offset: 0.5em;     
}

.card-title{
  font-weight: bold;
  font-family: 'Open Sans', sans-serif;
  text-align: left;
  padding-left: 40px;
}
